# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/sprites/background1.png
public/sprites/background2.png
public/sprites/background3.png
public/sprites/background4a.png
public/sprites/mainlev_build.png
public/sprites/props1.png
public/sprites/props2.png
public/sprites/PSD/background.psd
public/sprites/PSD/mainlev_build.psd
public/sprites/PSD/props1.psd
public/sprites/PSD/props2.psd
